.board {
  width: 30rem;
  padding-left: 5rem;
  padding-bottom: 3rem;

  @media (max-width: 1200px) {
    width: 28rem;
    padding-left: 3rem;
  }

  @media (max-width: 768px) {
    width: 22rem;
    padding-left: 2rem;
  }

  @media (max-width: 576px) {
    width: 18rem;
    padding-left: 3rem;
  }
}

.content {
  margin-top: 3rem;
  background-color: var(--card-bg) !important;
  padding: 5rem 5rem;
  color: var(--primary-text) !important;

  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
@keyframes swing {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.koala-img {
  position: absolute;
  top: -10px;
  left: 60%;
  transform: translateX(89px);
  width: 270px;
  max-width: 100vw;
  z-index: 10;
  animation: swing 4s ease-in-out infinite;
  transform-origin: top center;
}

@media (max-width: 1040px) {
  .koala-img {
    left: auto;
    right: 100px;
    transform: none;
    width: 180px;
  }
}

@media (max-width: 768px) {
  .koala-img {
    right: 60px;
    width: 140px;
  }
}
