<img src="ivy.svg" alt="Koala" class="koala-img" />
<h1>Thanks</h1>
<div class="content">
  <p>
    This little space is dedicated to the people who have shaped my path, held
    my hand, and cheered me on — in code, in creativity, and in life. To my
    family, thank you for being my roots and my wings. Your love and belief in
    me have been the quiet strength behind everything I do. To my friends, who
    make the hardest days feel lighter and who remind me that joy is in the
    details — thank you for being part of my story. To my colleagues and
    mentors, thank you for every insight shared, every challenge that pushed me
    forward, and every word of encouragement. You've helped me grow not only as
    a developer, but as a person. This website — with its colors, illustrations,
    and soul — wouldn’t exist without you. Thank you for walking this journey
    with me. <br /><br />
    With love,
  </p>
  <p class="fw-semibold">Nat</p>
</div>
<img src="rubber plant.svg" class="plant-bottom-right" />
