<nav class="d-flex align-items-center justify-content-between px-5 py-3">
  <!-- Center Nav Items -->
  <ul class="nav mx-auto navigation-links d-flex gap-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Ahoj!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/thanks">Thanks</a>
    </li>
  </ul>

  <!-- Right Social Icons -->
  <div class="d-flex gap-2 social-icons">
    <a href="https://github.com/Natavan-J" target="_blank">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.behance.net/natabasova" target="_blank">
      <i class="bi bi-behance"></i>
    </a>
    <a href="https://www.linkedin.com/in/natabasova/" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
  </div>
</nav>
