<img src="hanging.svg" alt="Koala" class="koala-img" />

<!-- Title aligned to right -->
<h1 class="projects-title">Let's look at<br />My projects!</h1>

<!-- Container for all project cards -->
<!-- Later After completion of Frontend layout i will generate cards dynamicaly with @for-->
<div class="projects-container me-4">
  <img src="pineappleme.svg" alt="Koala" class="pineapple-img" />

  <div class="card-container">
    <div class="project-frame">
      <!--   <img src="Group 7.svg" alt="Koala" class="koala-img" /> -->

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="220"
        height="180"
        viewBox="0 0 244 202"
      >
        <g id="Group_7" data-name="Group 7" transform="translate(-663 -654)">
          <g id="Group_3" data-name="Group 3">
            <g
              id="Ellipse_2"
              data-name="Ellipse 2"
              transform="translate(667 682)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_3"
              data-name="Ellipse 3"
              transform="translate(667 704)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_4"
              data-name="Ellipse 4"
              transform="translate(667 729)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_5"
              data-name="Ellipse 5"
              transform="translate(667 754)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_6"
              data-name="Ellipse 6"
              transform="translate(667 779)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_7"
              data-name="Ellipse 7"
              transform="translate(663 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
            
              <circle cx="15" cy="15" r="15" stroke="none" />
              <circle cx="15" cy="15" r="14.5" fill="none" />
            </g>
            <g
              id="Ellipse_8"
              data-name="Ellipse 8"
              transform="translate(667 804)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_9"
              data-name="Ellipse 9"
              transform="translate(667 829)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_10"
              data-name="Ellipse 10"
              transform="translate(689 829)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_11"
              data-name="Ellipse 11"
              transform="translate(714 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_12"
              data-name="Ellipse 12"
              transform="translate(738 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_13"
              data-name="Ellipse 13"
              transform="translate(762 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_14"
              data-name="Ellipse 14"
              transform="translate(786 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_15"
              data-name="Ellipse 15"
              transform="translate(810 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_16"
              data-name="Ellipse 16"
              transform="translate(834 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_17"
              data-name="Ellipse 17"
              transform="translate(858 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_18"
              data-name="Ellipse 18"
              transform="translate(880 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_19"
              data-name="Ellipse 19"
              transform="translate(880 806)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_20"
              data-name="Ellipse 20"
              transform="translate(880 782)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_21"
              data-name="Ellipse 21"
              transform="translate(880 758)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_22"
              data-name="Ellipse 22"
              transform="translate(880 734)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_23"
              data-name="Ellipse 23"
              transform="translate(880 710)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_24"
              data-name="Ellipse 24"
              transform="translate(880 675)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_25"
              data-name="Ellipse 25"
              transform="translate(879 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="14" cy="14" r="14" stroke="none" />
              <circle cx="14" cy="14" r="13.5" fill="none" />
            </g>
            <g
              id="Ellipse_26"
              data-name="Ellipse 26"
              transform="translate(857 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_27"
              data-name="Ellipse 27"
              transform="translate(880 694)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_28"
              data-name="Ellipse 28"
              transform="translate(836 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_29"
              data-name="Ellipse 29"
              transform="translate(815 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_30"
              data-name="Ellipse 30"
              transform="translate(793 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_31"
              data-name="Ellipse 31"
              transform="translate(771 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_32"
              data-name="Ellipse 32"
              transform="translate(749 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_33"
              data-name="Ellipse 33"
              transform="translate(727 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_34"
              data-name="Ellipse 34"
              transform="translate(706 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_35"
              data-name="Ellipse 35"
              transform="translate(688 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Rectangle_14"
              data-name="Rectangle 14"
              transform="translate(683 674)"
              fill="none"
              stroke="#38488d"
              stroke-width="10"
            >
              <rect width="206" height="165" stroke="none" />
              <rect x="5" y="5" width="196" height="155" fill="none" />
            </g>
            <g
              id="Path_5"
              data-name="Path 5"
              transform="translate(693 684)"
              fill="none"
            >
              <path d="M0,0H187V145H0Z" stroke="none" />
              <path
                d="M 6 6 L 6 139 L 181 139 L 181 6 L 6 6 M 0 0 L 187 0 L 187 145 L 0 145 L 0 0 Z"
                stroke="none"
                fill="#e3bbf5"
              />
            </g>
          </g>
        </g>
      </svg>
    </div>

    <div class="card-content">
      <h2>Project Title</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <button class="btn btn-primary">Go</button>
    </div>
  </div>
  <div class="card-container">
    <div class="project-frame">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="220"
        height="180"
        viewBox="0 0 244 202"
      >
        <g id="Group_7" data-name="Group 7" transform="translate(-663 -654)">
          <g id="Group_3" data-name="Group 3">
            <g
              id="Ellipse_2"
              data-name="Ellipse 2"
              transform="translate(667 682)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_3"
              data-name="Ellipse 3"
              transform="translate(667 704)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_4"
              data-name="Ellipse 4"
              transform="translate(667 729)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_5"
              data-name="Ellipse 5"
              transform="translate(667 754)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_6"
              data-name="Ellipse 6"
              transform="translate(667 779)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_7"
              data-name="Ellipse 7"
              transform="translate(663 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="15" cy="15" r="15" stroke="none" />
              <circle cx="15" cy="15" r="14.5" fill="none" />
            </g>
            <g
              id="Ellipse_8"
              data-name="Ellipse 8"
              transform="translate(667 804)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_9"
              data-name="Ellipse 9"
              transform="translate(667 829)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_10"
              data-name="Ellipse 10"
              transform="translate(689 829)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_11"
              data-name="Ellipse 11"
              transform="translate(714 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_12"
              data-name="Ellipse 12"
              transform="translate(738 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_13"
              data-name="Ellipse 13"
              transform="translate(762 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_14"
              data-name="Ellipse 14"
              transform="translate(786 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_15"
              data-name="Ellipse 15"
              transform="translate(810 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_16"
              data-name="Ellipse 16"
              transform="translate(834 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_17"
              data-name="Ellipse 17"
              transform="translate(858 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_18"
              data-name="Ellipse 18"
              transform="translate(880 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_19"
              data-name="Ellipse 19"
              transform="translate(880 806)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_20"
              data-name="Ellipse 20"
              transform="translate(880 782)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_21"
              data-name="Ellipse 21"
              transform="translate(880 758)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_22"
              data-name="Ellipse 22"
              transform="translate(880 734)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_23"
              data-name="Ellipse 23"
              transform="translate(880 710)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_24"
              data-name="Ellipse 24"
              transform="translate(880 675)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_25"
              data-name="Ellipse 25"
              transform="translate(879 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="14" cy="14" r="14" stroke="none" />
              <circle cx="14" cy="14" r="13.5" fill="none" />
            </g>
            <g
              id="Ellipse_26"
              data-name="Ellipse 26"
              transform="translate(857 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_27"
              data-name="Ellipse 27"
              transform="translate(880 694)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_28"
              data-name="Ellipse 28"
              transform="translate(836 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_29"
              data-name="Ellipse 29"
              transform="translate(815 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_30"
              data-name="Ellipse 30"
              transform="translate(793 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_31"
              data-name="Ellipse 31"
              transform="translate(771 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_32"
              data-name="Ellipse 32"
              transform="translate(749 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_33"
              data-name="Ellipse 33"
              transform="translate(727 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_34"
              data-name="Ellipse 34"
              transform="translate(706 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_35"
              data-name="Ellipse 35"
              transform="translate(688 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Rectangle_14"
              data-name="Rectangle 14"
              transform="translate(683 674)"
              fill="none"
              stroke="#38488d"
              stroke-width="10"
            >
              <rect width="206" height="165" stroke="none" />
              <rect x="5" y="5" width="196" height="155" fill="none" />
            </g>
            <g
              id="Path_5"
              data-name="Path 5"
              transform="translate(693 684)"
              fill="none"
            >
              <path d="M0,0H187V145H0Z" stroke="none" />
              <path
                d="M 6 6 L 6 139 L 181 139 L 181 6 L 6 6 M 0 0 L 187 0 L 187 145 L 0 145 L 0 0 Z"
                stroke="none"
                fill="#e3bbf5"
              />
            </g>
          </g>
        </g>
      </svg>
    </div>

    <div class="card-content">
      <h2>Project Title</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <button class="btn btn-primary">Go</button>
    </div>
  </div>
  <div class="card-container">
    <div class="project-frame">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="220"
        height="180"
        viewBox="0 0 244 202"
      >
        <g id="Group_7" data-name="Group 7" transform="translate(-663 -654)">
          <g id="Group_3" data-name="Group 3">
            <g
              id="Ellipse_2"
              data-name="Ellipse 2"
              transform="translate(667 682)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_3"
              data-name="Ellipse 3"
              transform="translate(667 704)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_4"
              data-name="Ellipse 4"
              transform="translate(667 729)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_5"
              data-name="Ellipse 5"
              transform="translate(667 754)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_6"
              data-name="Ellipse 6"
              transform="translate(667 779)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_7"
              data-name="Ellipse 7"
              transform="translate(663 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="15" cy="15" r="15" stroke="none" />
              <circle cx="15" cy="15" r="14.5" fill="none" />
            </g>
            <g
              id="Ellipse_8"
              data-name="Ellipse 8"
              transform="translate(667 804)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_9"
              data-name="Ellipse 9"
              transform="translate(667 829)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_10"
              data-name="Ellipse 10"
              transform="translate(689 829)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_11"
              data-name="Ellipse 11"
              transform="translate(714 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_12"
              data-name="Ellipse 12"
              transform="translate(738 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_13"
              data-name="Ellipse 13"
              transform="translate(762 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_14"
              data-name="Ellipse 14"
              transform="translate(786 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_15"
              data-name="Ellipse 15"
              transform="translate(810 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_16"
              data-name="Ellipse 16"
              transform="translate(834 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_17"
              data-name="Ellipse 17"
              transform="translate(858 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_18"
              data-name="Ellipse 18"
              transform="translate(880 830)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_19"
              data-name="Ellipse 19"
              transform="translate(880 806)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_20"
              data-name="Ellipse 20"
              transform="translate(880 782)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_21"
              data-name="Ellipse 21"
              transform="translate(880 758)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_22"
              data-name="Ellipse 22"
              transform="translate(880 734)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_23"
              data-name="Ellipse 23"
              transform="translate(880 710)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_24"
              data-name="Ellipse 24"
              transform="translate(880 675)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_25"
              data-name="Ellipse 25"
              transform="translate(879 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="14" cy="14" r="14" stroke="none" />
              <circle cx="14" cy="14" r="13.5" fill="none" />
            </g>
            <g
              id="Ellipse_26"
              data-name="Ellipse 26"
              transform="translate(857 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_27"
              data-name="Ellipse 27"
              transform="translate(880 694)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_28"
              data-name="Ellipse 28"
              transform="translate(836 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_29"
              data-name="Ellipse 29"
              transform="translate(815 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_30"
              data-name="Ellipse 30"
              transform="translate(793 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_31"
              data-name="Ellipse 31"
              transform="translate(771 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_32"
              data-name="Ellipse 32"
              transform="translate(749 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_33"
              data-name="Ellipse 33"
              transform="translate(727 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_34"
              data-name="Ellipse 34"
              transform="translate(706 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Ellipse_35"
              data-name="Ellipse 35"
              transform="translate(688 654)"
              fill="#ffd86c"
              stroke="#ffd959"
              stroke-width="1"
            >
              <circle cx="13" cy="13" r="13" stroke="none" />
              <circle cx="13" cy="13" r="12.5" fill="none" />
            </g>
            <g
              id="Rectangle_14"
              data-name="Rectangle 14"
              transform="translate(683 674)"
              fill="none"
              stroke="#38488d"
              stroke-width="10"
            >
              <rect width="206" height="165" stroke="none" />
              <rect x="5" y="5" width="196" height="155" fill="none" />
            </g>
            <g
              id="Path_5"
              data-name="Path 5"
              transform="translate(693 684)"
              fill="none"
            >
              <path d="M0,0H187V145H0Z" stroke="none" />
              <path
                d="M 6 6 L 6 139 L 181 139 L 181 6 L 6 6 M 0 0 L 187 0 L 187 145 L 0 145 L 0 0 Z"
                stroke="none"
                fill="#e3bbf5"
              />
            </g>
          </g>
        </g>
      </svg>
    </div>

    <div class="card-content">
      <h2>Project Title</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <button class="btn btn-primary">Go</button>
    </div>
  </div>

  <!-- Duplicate the card-container div for more projects -->
</div>
