.main-content {
  min-height: calc(100vh - 120px);
}
@keyframes swing {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.koala-img {
  position: absolute;
  top: -10px;
  left: 60%;
  transform: translateX(89px);
  width: 270px;
  max-width: 100vw;
  z-index: 10;
  animation: swing 4s ease-in-out infinite;
  transform-origin: top center;
}

@media (max-width: 1040px) {
  .koala-img {
    left: auto;
    right: 100px;
    transform: none;
    width: 180px;
  }
}

@media (max-width: 768px) {
  .koala-img {
    right: 60px;
    width: 140px;
  }
}
