@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  /* Base Colors */
  --background: #faf3eb;
  --primary-text: #38488d;
  --card-bg: #faf7f2;
}

/* setting font */
:root {
  --font-main: "Baloo Bhaijaan 2", sans-serif;
}

body {
  font-family: var(--font-main) !important;
  background-color: var(--background) !important;
}
